<!DOCTYPE html>
<html lang="<%= data.site.language %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Middlepack</title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "site.min" %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
